<%= form_with(model: job_entry, local: true) do |form| %>
  <% if job_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_entry.errors.count, "error") %> prohibited this job_entry from being saved:</h2>

      <ul>
        <% job_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :job_id %>
    <%= form.text_field :job_id %>
  </div>

  <div class="field">
    <%= form.label :from %>
    <%= form.datetime_select :from %>
  </div>

  <div class="field">
    <%= form.label :until %>
    <%= form.datetime_select :until %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
